.aboutSectionContainer {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutBackgroundImageContainer {
  position: absolute;
  left: -150px;
  z-index: -2;
}

.aboutSectionImageContainer {
  flex: 0.9;
  margin-right: 1rem;
}

.aboutSectionTextContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.primarySubheading {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}

/* Buttons inside About */
.aboutButtonsContainer {
  display: flex;
  margin-top: 2rem;
}

.watchVideoButton {
  margin-left: 2rem;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  display: flex;
  align-items: center;
}

.watchVideoButton svg {
  font-size: 3rem;
  margin-right: 1rem;
}

/* MOBILE */
@media (max-width: 800px) {
  .aboutSectionContainer {
    flex-direction: column;
    margin-top: 5rem !important;
  }

  .aboutSectionTextContainer {
    align-items: center;
    margin-top: 4rem;
  }

  .aboutButtonsContainer {
    flex-direction: column;
    align-items: center;
  }

  .watchVideoButton {
    margin-left: 0;
    margin-top: 1rem;
  }

  .aboutSectionImageContainer {
    margin-right: 0 !important;
  }
}

@media (max-width: 600px) {
  .aboutBackgroundImageContainer {
    display: none;
  }
}
