.aboutSectionContainer {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutBackgroundImageContainer {
  position: absolute;
  left: -150px;
  z-index: -2;
}

.aboutSectionImageContainer {
  flex: 0.9;
  margin-right: 1rem;
}

.aboutSectionTextContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.primarySubheading {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}

.aboutButtonsContainer {
  display: flex;
  margin-top: 2rem;
}

.watchVideoButton {
  margin-left: 2rem;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  display: flex;
  align-items: center;
}

.watchVideoButton svg {
  font-size: 3rem;
  margin-right: 1rem;
}

@media (max-width: 480px) {
  .aboutSectionImageContainer {
    display: none;
  }
  .watchVideoButton {
    font-size: 0.95rem;
    margin-left: 0;
    padding: 0.5rem 1rem;
    justify-content: center;
  }

  .watchVideoButton svg {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
}
@media (max-width: 768px) {
  .aboutSectionImageContainer {
    display: none;
  }
  .watchVideoButton {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .watchVideoButton svg {
    font-size: 2.4rem;
    margin-right: 0.7rem;
  }
}