.contactPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0;
}

.contactFormContainer {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  padding: 1rem;
  border-radius: 5rem;
  align-items: center;
}

.inputField {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .contactFormContainer {
    flex-direction: column;
    border-radius: 1rem !important;
    padding: 0.5rem !important;
  }

  .inputField {
    font-size: 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center !important;
  }
}
