.lgReactElement {
  column-count: 3;
  column-gap: 10px;
}

.galleryImage {
  max-width: 100%;
  display: block;
  padding: 5px 0px;
  border-radius: 20px;
  transition: transform 0.2s;
}

.galleryImage:hover {
  filter: opacity(0.9);
  transform: scale(1.01);
}

@media only screen and (min-width: 300px) {
  .lgReactElement {
    column-count: 2;
  }
}

@media only screen and (min-width: 750px) {
  .lgReactElement {
    column-count: 3;
  }
}
