.homeContainer {
  width: 100%;
}

.homeBannerContainer {
  position: relative;
  display: flex;
  padding-top: 3rem;
}

.homeBannerImageContainer {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}

.homeImageSection {
  max-width: 600px;
}

.homeTextSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .homeBannerImageContainer {
    max-width: 450px;
  }

  .homeBannerContainer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .homeTextSection {
    align-items: center;
    margin-top: 4rem;
  }
}

@media (max-width: 600px) {
  .homeBannerImageContainer {
    display: none;
  }
}
