.homeContainer {
  width: 85%;
  display: flex;
  flex-direction: column; 
  /* align-items: center; */
  justify-content: center;

}

.homeBannerContainer {
  position: relative;
  display: flex;
  padding-top: 3rem;
}

.homeBannerImageContainer {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}

.homeImageSection {
  max-width: 600px;
}

.homeTextSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}