.workSectionWrapper {
  margin-top: 8rem;
}

.workSectionTop {
  text-align: center;
  margin-bottom: 3rem;
}

.primarySubheading {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}

.primaryHeading {
  font-size: 2.4rem;
  font-weight: 700;
  color: #484848;
  margin-top: 0.5rem;
}

.primaryText {
  color: #6c6c6c;
  max-width: 600px;
  margin: 1rem auto 0;
  line-height: 1.7;
}

.testimonialSectionBottom {
  margin: 2rem auto;
  background-color: white;
  padding: 1.5rem 2rem;
  max-width: 750px;
  border-radius: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.testimonialSectionBottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  margin: 2rem auto;
}

.testimonialsStarsContainer svg {
  margin: 0 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}

.testimonialSectionBottom h2 {
  margin-top: 1.5rem;
}